@import 'https://unpkg.com/open-props';
:root {
  --clr-neutral-400: var(--gray-3);
}

body {
  background-color: var(--clr-neutral-400);
}

.site-head {
  align-items: center;
  justify-content: space-between;
  background-color: hsl(200deg, 50%, 50%);
}
.site-head .search-bar input[type=search] {
  background-color: #fff;
}

.site-head,
nav ul {
  display: flex;
  padding: 1em;
}

nav {
  display: flex;
  align-items: center;
}
nav ul {
  list-style: none;
  gap: 1em;
  margin-top: 0.25em;
  margin-top: 1em;
  margin-right: 1.25em;
}
nav ul li a {
  font-weight: bold;
  color: hsl(180deg, 10%, 90%);
}

.site-head {
  color: #000;
}
.site-head nav {
  transform: translateY(10px);
}

.main-content {
  color: var(--gray-9);
  background-color: var(--gray-4);
  padding: var(--size-4);
}
.main-content h1 {
  font-weight: bold;
}
