@import 'https://unpkg.com/open-props';
:root {
  --clr-neutral-400: var(--gray-3);
  --clr-link-400: var(--gray-1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
}

body {
  margin: 0;
}

@media (min-width: 20rem) {
  nav {
    display: flex;
    transform: translateY(10px);
    width: 100%;
    padding: 1em;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  nav .menu-toggle {
    cursor: pointer;
  }
  nav .menu-toggle .open {
    color: var(--clr-link-400);
    font-size: var(--size-9);
  }
  nav .menu {
    display: flex;
    flex-flow: column nowrap;
    transform: translateX(-1000px);
    overflow-x: hidden;
    transition: transform 100ms ease-in-out;
    position: absolute;
    height: 100vh;
    max-height: auto;
    background-color: #265973;
    inset: 0;
    top: -1em;
    width: 300px;
    z-index: 2;
    list-style: none;
    transition: transform 450ms ease-in-out;
  }
  nav .menu li {
    padding: 1em;
    margin-block-start: 1em;
  }
  nav .menu li:first-child {
    margin-block-start: 0.5em;
  }
  nav .menu li a {
    font-weight: bold;
    color: var(--clr-link-400);
    font-size: var(--size-7);
  }
  nav .open-menu {
    transform: translateX(0px);
  }
  nav .open-menu .close-menu,
nav .open-menu span.close {
    display: block;
    color: var(--clr-link-400);
    margin-left: auto;
    cursor: pointer;
    padding-block-start: 1em;
    padding-inline: 1.75em;
    height: 44px;
    width: 44px;
  }
  nav .open-menu li {
    margin-inline-start: 1em;
  }
}
/** default breakpoint **/
footer {
  text-align: center;
}
footer .footer-about {
  margin-top: 1em;
}
footer .social-links {
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  justify-items: center;
  width: 100%;
  margin: 0 auto;
  max-width: 50em;
}
footer .social-links a {
  padding-bottom: 0.35em;
}

/** medium breakpoint **/
@media (min-width: 40rem) {
  footer {
    max-width: 70em;
  }
  footer .social-links {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
  footer .social-links a {
    margin-bottom: 1em;
  }
}
/** large breakpoint **/
@media (min-width: 58rem) {
  footer {
    margin: 0 auto;
    max-width: 40em;
  }
  footer .social-links {
    grid-template-columns: repeat(5, 1fr);
  }
}
/** default breakpoint **/
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1em;
}
.card-container .card {
  width: 400px;
  background-color: hsl(200deg, 50%, 50%);
  border-radius: 10px;
  float: none;
}
.card-container .card figure {
  margin: unset;
}
.card-container .card figure img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: block;
}
.card-container .card h3 {
  text-align: center;
  padding-block-start: 1em;
}
.card-container .card p {
  font-size: var(--size-5);
  padding-inline: 1em;
}

/** medium breakpoint **/
@media (min-width: 40rem) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 30rem;
  }
}
/** large breakpoint **/
form input,
form textarea {
  background-color: #fff !important;
}

form input[type=submit] {
  background-color: hsl(200deg, 50%, 50%) !important;
}

body {
  background-color: var(--clr-neutral-400);
  line-height: 2;
}

.site-head {
  background-color: hsl(200deg, 50%, 50%);
}
.site-head .search-bar input[type=search] {
  background-color: #fff;
}

.site-head {
  color: #000;
}
.site-head header {
  background-color: var(--clr-neutral-400);
}
.site-head header figure {
  display: flex;
  align-items: flex-end;
  width: 150px;
  padding: 0.75em;
}
.site-head header figure img {
  max-width: 100%;
  display: block;
}

.main-content {
  color: var(--gray-9);
  background-color: var(--gray-4);
  padding: var(--size-8);
}
.main-content h1 {
  font-weight: bold;
}
.main-content p {
  font-size: var(--size-6);
}
.main-content .partners-list .partners {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: none;
  gap: 1em;
}

@media (min-width: 40rem) {
  .site-head {
    display: grid;
  }
  .site-head header {
    grid-row: 1;
  }
  .site-head header figure {
    width: 100px;
    padding: 0;
  }

  .main-content {
    clear: both;
  }
  .main-content > figure img {
    max-width: 100%;
    display: block;
  }
  .main-content .partners-list .partners {
    flex-flow: row wrap;
  }

  nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    padding: 2em;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  nav .menu-toggle {
    display: none;
  }
  nav .menu {
    display: flex;
    margin-top: 1em;
    grid-row: 1/-1;
    grid-column: span 2;
    background-color: transparent;
    flex-flow: row nowrap;
    transform: translateX(0px);
    transition: none;
    position: none;
    height: initial;
    max-height: initial;
    inset: initial;
    width: auto;
    z-index: 2;
    list-style: none;
  }
  nav .menu li {
    padding: 1em;
    margin-block-start: 1em;
  }
  nav .menu li:first-child {
    margin-block-start: 0.5em;
  }
  nav .search-bar {
    grid-row: 2;
    grid-column: span 2;
    margin-top: 1em;
  }
  nav .open-menu {
    transform: initial;
    margin: initial;
  }
  nav .material-icons-outlined.close-menu.close {
    display: none;
  }
}
@media (min-width: 58rem) {
  nav .menu {
    grid-row: 1/-1;
    grid-column: span 2;
  }
  nav .search-bar {
    grid-row: 1;
    grid-column: 2/span 1;
    width: 25vw;
    margin-left: auto;
  }
}
/** MENU STYLES came from 
https://github.com/paulcheney/mobile-menu-v5/
**/
