@import 'https://unpkg.com/open-props';

body {
    background-color: var(--clr-neutral-400);
    line-height: 2;
}

.site-head {
    background-color: hsl(200, 50%, 50%);
    .search-bar {
        input[type='search'] {
            background-color: #fff;
        }
    }
}

.site-head {
    color: #000;
    header {
        background-color: var(--clr-neutral-400);
        figure {
            display: flex;
            align-items: flex-end;
            width: 150px;
            padding: 0.75em;
            img {
                max-width: 100%;
                display: block;
            }
        }
    }
}

.main-content {
    color: var(--gray-9);
    background-color: var(--gray-4);
    padding: var(--size-8);
    h1 {
        font-weight: bold;
    }
    p {
        font-size: var(--size-6);
    }
    .partners-list {
        .partners {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            list-style: none;
            gap: 1em;
        }
    }
}
