@media (min-width: 40rem) {
    .site-head {
        display: grid;
        header {
            grid-row: 1;
            figure {
                width: 100px;
                padding: 0;
            }
        }
    }

    .main-content {
        clear: both;
        & > figure {
            img {
                max-width: 100%;
                display: block;
            }
        }
        .partners-list {
            .partners {
                flex-flow: row wrap;
            }
        }
    }

    nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
        padding: 2em;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;
        .menu-toggle {
            display: none;
        }

        .menu {
            display: flex;
            margin-top: 1em;
            grid-row: 1/-1;
            grid-column: span 2;
            background-color: transparent;
            flex-flow: row nowrap;
            transform: translateX(0px);
            transition: none;
            position: none;
            height: initial;
            max-height: initial;
            inset: initial;
            width: auto;
            z-index: 2;
            list-style: none;
            li {
                padding: 1em;
                margin-block-start: 1em;
                &:first-child {
                    margin-block-start: 0.5em;
                }
            }
        }
        .search-bar {
            grid-row: 2;
            grid-column: span 2;
            margin-top: 1em;
        }
        .open-menu {
            transform: initial;
            margin: initial;
        }
        .material-icons-outlined.close-menu.close {
            display: none;
        }
    }
}
