/**  AGENT LAYOUT **/
#agent {
    padding: 1em;
    h1 {
        border-top: 2px solid black;
        width: 90vw;
        margin: 0 auto;
        padding: 0.25em;
        font-size: 2.75rem;
        text-align: center;
    }
}

/* medium cruise layout */
@media (min-width: 700px) {

    #agent {
        h1 {
            border: none;
        }
        figure {
            float: right;
            padding: 1em;
            img {
                width: 30vw;
            }
        }
    }
}

/* large cruise layout */
@media (min-width: 960px) {
#agent {
    figure {
        img {
            width: 20vw;
        }
    }
}
}