/**  BOOK LAYOUT **/
#book {
    h1 {
        border-top: 2px solid black;
        width: 90vw;
        margin: 0 auto;
        padding: 0.25em;
        font-size: 2.75rem;
        text-align: center;
    }
    .article-card__cruises {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
        .card-content {
            width: 100%;
            max-width: 100px;
        }
    }
    a.btn {
        margin-top: 1em;
        text-decoration: none;
        display: block;
        background-color: #efefef;
        color: #000;
        text-align: center;
        border-radius: 10px;
    }
    .btn.large-btn {
        font-size: 1.75rem;
        padding: 0.3em 0.74em;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;

        .form-control-container {
            width: 100%;
            padding: 1em;

            .form-control {
                width: 100%;
            }
            .btn {
                margin: 0 auto;
                width: 90vw;
                border: none;
                border-radius: 20px;
            }
        }
    }
}

/* medium cruise layout */
@media (min-width: 700px) {
    a.btn {
        &:hover {
            font-style: italic;
        }
    }
    #book {
        form {
            align-items: flex-start;
            max-width: 50%;
        }

        .btn {
            max-width: 100%;
        }
    }
}

/* large cruise layout */
@media (min-width: 960px) {
    #book {
        h1 {
            margin: unset;
            padding: 0.5em;
            padding-bottom: 0;
            border-top: none !important;
            width: auto !important;
            text-align: left;
        }
    }
}
