@import 'https://unpkg.com/open-props';

body {
    background-color: var(--clr-neutral-400);
}

.site-head {
    background-color: hsl(200, 50%, 50%);
    .search-bar {
        input[type='search'] {
            background-color: #fff;
        }
    }
}

.site-head {
    color: #000;
    header {
        background-color: var(--gray-4);
        div {
            display: flex;
            align-items: flex-end;
        }
    }
}

.main-content {
    color: var(--gray-9);
    background-color: var(--gray-4);
    padding: var(--size-4);
    h1 {
        font-weight: bold;
    }
}
