@media (min-width: 58rem) {
    nav {
        .menu {
            grid-row: 1/-1;
            grid-column: span 2;
        }
        .search-bar {
            grid-row: 1;
            grid-column: 2 / span 1;
            width: 25vw;
            margin-left: auto;
        }
    }
    footer {
        margin: 0 auto;
        max-width: 40em;
        .social-links {
            grid-template-columns: repeat(5, 1fr);
        }
    }
}
