// $backgroundColor: rgb(191, 191, 191);
:root {
    --backgroundColor: hsl(191, 191, 191);
    --body-font: 'Oswald', sans-serif;

    --base-font-size: 18px;

    --font-300: 300;
    --font-400: 400;
    --font-600: 600;

    --text-sm: 0.9rem;
    --text-md: 1.75rem;
    --text-lg: 2rem;
    --text-xl: 3rem;
}
