@media (min-width: 700px) {
    .container {
        width: 1200px;
        margin: 0 auto;
        max-width: 100%;
    }

    .site-nav-container {
        justify-content: flex-start;
        padding: 0.25em;
        inset: 0;
    }
    .site-nav-container {
        .mobile-menu {
            flex-flow: row nowrap;
            position: static;
            inset: 0;
            transform: translateX(0px);
            height: auto;
            width: 100%;
            box-shadow: none;
        }
    }
    .site-nav-container .mobile-menu {
        span.material-icons-outlined.close-menu {
            display: none;
        }
    }
    .site-nav-container .mobile-menu {
        .nav-link {
            margin-top: 0em;
        }
    }
    .site-nav-container .mobile-menu .nav-link:nth-child(4) .drop-down {
        display: none;
        position: absolute;
        border-radius: 10px;
        background-color: gray;
        top: 50px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        margin-bottom: -32px;
        list-style: none;
        transition: height 100ms ease-in-out, opacity 25ms ease-in;
    }
    .site-nav-container
        .mobile-menu
        .nav-link:nth-child(4)
        .open-dropdown-links {
        display: block;
        height: auto;
        opacity: 1;
    }
    .site-nav-container .menu-toggle {
        display: none;
    }
    .site-nav-container .menu-toggle span.material-icons-outlined {
        display: none;
    }
    .site-nav-container .menu-search {
        padding: 0.75em;
    }
    .site-nav-container .menu-search .search-bar {
        padding: 0.75em;
    }
    .site-nav-container .menu-search .search-bar {
        width: 25vw;
        transition: width 200ms ease-in;
    }
    .site-nav-container .menu-search .search-bar:focus {
        width: 35vw;
    }
    .site-nav-container .menu-search .search-bar + button {
        top: 1em;
        right: 1em;
        padding-top: none;
    }

    .header-grid {
        width: 1200px;
        max-width: 100%;
        display: grid;
        margin: 0 auto;
        grid-template-columns: repeat(3, 1fr);
    }
    .header-grid .site-header-container {
        grid-row: 1;
        grid-column: 1/-1;
    }
    .header-grid .site-nav-container {
        height: 100px;
        grid-row: 2;
        grid-column: span 3;
    }

    .slider-container {
        width: 1200px;
        max-width: 100%;
        height: 350px !important;
    }

    .blog .blog-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
        gap: 1.5em;
        padding-block: 0;
    }

    footer .footer-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 31.25rem;
    }
    footer .contact-section {
        grid-column: 1 / span 2;
        grid-row: 1;
        height: fit-content;
    }
    footer .newsletter-section {
        grid-column: 3 / span 2;
        width: 50vw;
        padding-inline-end: 4em;
    }
    footer .about-section {
        grid-row: 2/-1;
        grid-column: span 4;
        transform: translateY(-100px);
    }
    footer {
        .social-links {
            margin: 0 auto;
            max-width: 500px;
        }
    }
}
